@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', system-ui, sans-serif;
  --font-sans: 'DM Sans',  system-ui, sans-serif;

  --color-light-blue: #9bb7ff,
}

@layer components {
  .floating-label {
    @apply absolute left-4 top-1/2 -translate-y-1/2 text-black/40 text-sm bg-white px-2 transition-all peer-focus:top-0 peer-focus:text-[#6791fd] peer-[:not(:placeholder-shown)]:top-0 peer-[:not(:placeholder-shown)]:text-[#6791fd];
  }
  .floating-input {
    @apply w-full rounded-lg outline-2 h-12 outline-black/18 ps-4 focus:outline-[#9bb7ff] [:not(:placeholder-shown)]:outline-[#9bb7ff];
  }

  .filter{
    @apply py-1 px-2 sm:px-4 border sm:border-2 rounded-md sm:rounded-xl focus:outline-0 cursor-pointer;
  }

  .filter-wrapper{
    @apply flex max-sm:flex-1 items-center gap-3 max-sm:text-sm
  }

  .filter-wrapper label{
    @apply max-sm:w-30 text-nowrap;
  }

  .pagination-wrapper button {
    @apply p-1 rounded-xl border cursor-pointer;
  }

  .hero-btn {
    @apply border-2 border-white p-2 rounded-lg w-fit px-6 cursor-pointer hover:bg-white hover:text-black transition-all max-sm:text-sm;
  }

  .items-container {
    @apply grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mb-3;
  }

  body {
    @apply font-poppins;
  }
}